div {
  margin: auto;
  width: 350px;

}

h1, h3 {text-align: center;}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: darkgray;
  text-align: center;
}
